<!-- footer -->
<footer class="main-footer">
    <article class="footer-data">
        <i class="fa-solid fa-heart"></i>
        <h2>Creado con amor</h2>
        <p>Asamblea Cristiana</p>
        <p>José Ingenieros</p>
    </article>
</footer>

<!-- footer -->